.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #347474;
    
    padding: 13em;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    text-shadow: 4px 4px 5px rgba(0,0,0,0.6);
}

.imageContainer {
    background-image: url('../../img/forms.jpg');
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 9999;
    width: 60%;
    height: 60%;
    object-fit: none;
  }
  
  
  .formContainer {
    position: absolute;
    bottom: 18px;
    left: 10%;  
  }

  .button{
    position: relative;
    bottom: 1px;
    left: 40%;  
  }